<div class="py-5 bg-light">
  <div class="container col-lg-8 offset-lg-2">

    <div class="card card-body">
      <h4 class="mb-3">Add Book</h4>

      <form action="/shop/all" method="post">
        <div class="form-group">
          <label for="bookCover">Cover</label>
          <input type="text" class="form-control" id="coverImage" placeholder="Cover" name="cover" required>
        </div>
        <div class="form-group">
          <label for="bookTitle">Title</label>
          <input type="text" class="form-control" id="bookTitle" placeholder="Title" name="title" required>
        </div>
        <div class="form-group">
          <label for="bookAuthor">Author</label>
          <input type="text" class="form-control" id="bookAuthor" placeholder="Author" name="author" required>
        </div>
        <div class="form-group">
          <label for="bookPublisher">Publisher</label>
          <input type="text" class="form-control" id="bookPublisher" placeholder="Publisher" name="publisher" required>
        </div>
        <div class="form-group">
          <label for="bookDescription">Description</label>
          <input type="text" class="form-control" id="bookDescription" placeholder="Description" name="bookdescription" required>
        </div>
        <div class="form-group">
          <label for="bookCategory">Category</label>
          <input type="text" class="form-control" id="bookCategory" placeholder="Category" name="category" required>
        </div>
        <div class="form-group">
          <label for="bookYear">Year</label>
          <input type="text" class="form-control" id="bookYear" placeholder="Year" name="year" required>
        </div>
        <div class="form-group">
          <label for="bookPrice">Price</label>
          <input type="text" class="form-control" id="bookPrice" placeholder="Price" name="price" required>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <p class="pt-4">
          <a href="/manage">
            < Return to Manage Books</a>
        </p>
      </form>
    </div>
  </div>
</div>
