<div class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <ul class="list-group-item">
          <span class="badge"></span>
          <strong>Title</strong>
          <span class="label label-success"></span>
          <div class="btn-group">
            <button type="button" class="btn-primary btn-xs dropdown-toggle">Action <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Reduce by 1</a></li>
              <li><a href="#">Remove All</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <strong>Total: </strong>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <button type="button" class="btn btn-success">Checkout</button:button>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>No items in cart!</h2>
      </div>
    </div>
  </div>
</div>