<div class="row py-4">
  <div class="col">
    <div class="text-center">
      <img src="/images/logo_big.png" class="logo"></img>
      <h2>PRIVACY POLICY</h2>
    </div>
    <p><strong>Introduction</strong> - The Book Boutique is committed to protecting your privacy. We have established this Privacy Policy and are providing it to you so that you can understand the manner in which we collect and use your information and the
      efforts we use to protect it. Please note that this policy is for The Book Boutique's Web site only and does not apply to other 3rd party web sites linked to from our web site. Please check the privacy policies on those web sites for more information.</p>

    <p><strong>Personal Information Collected</strong> - The Book Boutique recognizes the need for consumers to control the use and management of personal information. By personal information we mean information that can be used to identify or contact an
      individual. This may include, but is not limited to, a first and last name, a physical address, an email address, a student id number, or a phone number. If you are visiting our site to browse or find information about The Book Boutique's products
      or services, you do not need to provide any personal information. If you decide to make a purchase, however, we may collect this information so that we can provide you with the product or service you requested.</p>

    <p><strong>Automatic Information Collected</strong> - Our website makes use of various technologies to collect information about types and versions of internet browsers used when accessing our web site. This information, and information about internet
      IP addresses, as well as date and time web pages are visited are stored in various security and traffic logs. Our service provider reviews these logs, using statistical analysis, in an effort to track and predict traffic patterns and estimate resource
      needs. Unless we are tracking down a technical problem or we suspect either fraudulent behavior or illegal conduct we do not trace specific user sessions.</p>

    <p><strong>Personal Information Use</strong> - The Book Boutique uses personal information provided by you so that we can service your account. Also note that we may need to transfer that information to our agents or employees of our service providers.
      We will not sell or trade your information to unrelated third parties. When you submit an order you will receive an email confirmation from our system. As your order status changes you may also receive notifications via email. These notifications
      are considered part of our service and may not be disabled. We may also periodically send you email notifications concerning products or services. Any such notification will include instructions for opting out of future mailings.</p>

    <p><strong>Third Parties</strong> - We may partner with other third parties to provide various products and services. When you sign up for these services or products we will share required personal information that is necessary for the third party to
      provide the product or service to you. We take reasonable steps to ensure that these third parties are obligated to protect your information on our behalf. It is also against our policy to sell or trade information collected online without consumer
      consent. We may, however, release personal information if we are legally required to do so. If we are legally compelled to release information to a third party, The Book Boutique, may or may not notify you of this release. Notification will be at
      the discretion of The Book Boutique and will be based on the nature and conditions surrounding the release of information.</p>

    <p><strong>Information Control</strong> - Your customer profile is accessible from our website and you may update it at anytime. Our web site provides you with the ability to change your phone numbers, physical addresses, and email address information
      stored in your profile. You may also write to us at the address listed at the bottom of this policy to request that we make the change for you.</p>

    <p><strong>Children</strong> - The Book Boutique's website is targeted to college students, faculty and alumni and as such is not meant to attract children. We do not intend to collect personal information from anyone we know to be under thirteen years
      of age. If you are the parent or guardian of a child under thirteen years of age and believe that your child has disclosed personally identifiable information to us, please contact us so that we may remove the child's information.</p>

    <p><strong>Supplemental Technologies</strong> - Our website uses cookies, session identifiers, JavaScript™, and browser detection technology to provide consumers with a more pleasant online experience. Many browsers provide consumers with the ability
      to disable some or all of these technologies. Disabling them, especially in the case of JavaScript™, may prevent you from viewing some web pages. Note that the cookies we use do not place any personally identifiable information on your computer.</p>

    <p><strong>Confidentiality and Security</strong> - The Book Boutique takes reasonable steps to ensure that your information is protected. On our website we use industry standard Secure Sockets Layer (SSL) encryption when collecting your personal information.
      Our website is hosted in a data center which makes use of multiple levels of redundant firewalls and database encryption to protect information. Internally, we limit access to your information to those employees or agents who we believe have reasonable
      need to use the information to provide products or services to you, or to perform their jobs.</p>

    <p><strong>Notifications</strong> - This web site may send you notifications via email in order to service your The Book Boutique account. These notifications are considered part of our service and may not be disabled. We will send the email but we cannot
      guarantee delivery. You are responsible for providing a valid email address and for updating it when your address changes.</p>

    <p><strong>History</strong> - A privacy policy was established for this web site on December 3, 2018. We periodically make changes to the policy to reflect additions or changes to our practices. You may review the current policy at anytime by returning
      to this web page. This policy was last changed on December 3, 2018.</p>

    <p><strong>Compliance</strong> - This privacy policy complies ecommerce industry best practice guidelines and with California's Privacy Protection Act of 2004. If you have any questions or concerns about this policy please contact us using the information
      provided below.</p>

    <p><strong>Contact</strong> - Please direct all privacy related questions and concerns to the following address:</p>
    <div class="text-center">
      <p>Adam Smith</p>
      <p>The Book Boutique</p>
      <p>67 Business Park</p>
      <p>Dublin, Ireland</p>
      <p>(00353) 01-234-4456</p>
    </div>
  </div>
</div>
