<div class="row py-4">
  <div class="col">
    <div class="text-center">
      <img src="/images/logo_big.png" class="logo"></img>
      <h2>TERMS OF USE</h2>
    </div>
    <p>Use of the The Book Boutique web application (the "Site") and the content contained herein (the "Site") is governed by the terms of this Agreement (the "Agreement") between you and The Book Boutique. Your use of this Site constitutes your unconditional
      agreement to be bound by the terms of this Agreement.</p>

    <p>If you do not agree with the terms and conditions of this Agreement, you must immediately cease using this Site.</p>

    <p>1. The Site is subject to protection under copyrights, trademarks and/or other intellectual property rights owned, controlled or licensed by The Book Boutique and its affiliates or by third parties. These rights are protected by common law, state
      laws, and U.S. and international laws. The Book Boutique expressly reserves all rights, titles, and interests in and to all copyrights, trade names, logos, patents and other intellectual property and proprietary rights in and to the Site, including
      but not limited to any images, photographs, animations, video, audio, music, text, and "applets"; the overall "look and feel", processes, software, technology, and other materials which appear on this Site; and the business processes used to market
      products and services. You agree that your rights are limited to those granted herein, and you will not acquire any rights except as expressly set forth in this Agreement.</p>

    <p>2. You are prohibited from violating or attempting to violate the security of the Site, including, without limitation, (a) accessing data not intended for your use or logging onto a server or an account which you are not authorized to access; (b)
      attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization; (c) attempting to interfere with service to any user, host or network, including without limitation,
      via means of submitting a virus to the Site, overloading, "flooding," "spamming," "mailbombing" or "crashing;" or (d) sending unsolicited email, including promotions and/or advertising of products or services. Violations of system or network security
      may result in civil or criminal liability.</p>

    <p>3. The Site may contain robot exclusion headers. Much of the information on the Site is updated on a regular basis and is proprietary or is licensed to The Book Boutique by our suppliers and other third parties. You agree not to use any device, technique,
      software, system or routine to interfere or attempt to interfere with, or to otherwise circumvent the proper working of this Site or any activity being conducted on this Site. You agree, further, not to use or attempt to use any engine, device,
      technique, software, tool, agent or other device or mechanism (including without limitation browsers, spiders, robots, scrapers, avatars or intelligent agents) to navigate, access or search this Site, other than generally available third party web
      browsers such as Microsoft Internet Explorer™, Google Chrome™, and Mozilla Firefox™. Additionally, you agree that you will not take any action that imposes or may impose (in the sole discretion of us or our suppliers affected by your action) an
      unreasonable or disproportionately large load on our infrastructure, or the bandwidth or infrastructure of the company that hosts this Site, or bypass the robot exclusion headers or other measures on this Site or on the host servers that may be
      used to prevent or restrict access.</p>

    <p>4. The Book Boutique will not be liable for damages resulting from any failure caused by events beyond its control, by any act of God, such as a power failure, or by any other cause not within the control of The Book Boutique.</p>

    <p>5. If you violate any of the terms or conditions of this Agreement, this Agreement terminates immediately without notice. The Book Boutique may deny access to the Site to you and anyone claiming by or through you without liability to anyone. The Book
      Boutique shall have all additional rights and remedies at law and in equity arising from such violation. Further, you agree to indemnify, defend and hold The Book Boutique, and its affiliates, suppliers, employees and agents harmless from all claims,
      actions, losses, liabilities, damages, costs and expenses (including attorneys fees) arising out of or relating to any such prohibited use of the Site. If you violate or infringe upon the rights of any third party, they have all remedies at law
      and in equity to enforce their rights against you to the extent applicable arising from your actions.</p>

    <p>6. Any delay or failure to act with respect to a breach of this Agreement by you or others does not constitute a waiver and shall not limit such rights with respect to such breach or any subsequent breaches. This Agreement shall be governed by and
      construed in accordance with the laws of the State in which The Book Boutique resides. If any provision of this Agreement is held to be invalid or unenforceable, such invalidity or unenforceability shall not affect the remainder of this Agreement,
      which shall be given full effect without regard to the invalid portions.</p>

    <p>7. This Agreement represents the entire agreement between you and The Book Boutique regarding the use of the Site.</p>

    <p>Copyright © 2018 The Book Boutique. All rights reserved.</p>
  </div>
</div>
